.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* start header and landing page*/

.login {
  padding: 30px;
  /*height: 400px;*/
  width: auto;
  /*border-radius: 10px;*/
}
.column is-8 is-offset-2 {
  justify-content: flex-end;
  /*align-items: flex-end;*/
  /*align-self: flex-end;*/
  /*text-align: right;*/
}
.button {
  width: 100%;
  border-radius: 10px;
}

.input {
  border-radius: 10px;
}
.columns {
  margin-top: 10px;
}
.main {
  padding: 50px;
  /*margin-top: 12.5px;*/
}

/* end header and landing page*/

/* start footer */

footer {
  background-color: #ff7070;
  width: 100%;
  height: 100%;
}

.columns > .column > h3 {
  color: white;
  text-align: left;
}

.columns > .column > .columns > .column > p {
  color: white;
  text-align: left;
}

.getintouch {
  font-size: 30px;
  color: white;
}
